<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.mail.OlyAirONE">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_olyairicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.mail.OlyAirONE.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mail.OlyAirONE.ConnectToCamActivity"
            android:parentActivityName="com.example.mail.OlyAirONE.MainActivity">
        </activity>
        <activity
            android:name="com.example.mail.OlyAirONE.AppSettingsActivity"
            android:parentActivityName="com.example.mail.OlyAirONE.MainActivity">
        </activity>
        <activity
            android:name="com.example.mail.OlyAirONE.CameraActivity"
            android:parentActivityName="com.example.mail.OlyAirONE.MainActivity">
        </activity>
        <activity android:name="com.example.mail.OlyAirONE.CamSettingsActivity">
        </activity>
    </application>

</manifest>